
<div class="wrapper-show">
  <h1 class="show-h1"><%= @cocktail.name %></h1>
  <div class="container">
    <div class="row">
      <div class="card" id="showcard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url(<%= cl_image_path @cocktail.photo, crop: :fill %>);">
        <%= link_to new_cocktail_dose_path(@cocktail), class: "card-user" do%>
          <i class="fas fa-plus-circle"></i>
        <% end %>    
      </div>
    </div>
    <div class="form-container" id="dose-container">
      <h3 class="show-h1">Recipe</h3>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li id= "doses">
            <%= "#{dose.description} of #{dose.ingredient.name}"%>
            <%= button_to "delete", dose_path(dose), class: "btn btn-sm-primary delete", method: :delete %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>